
.transaction-history {
  position: fixed;
  top: 20px;
  right: 20px;
  margin-right: 10px;
  width: 600px;
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  
  font-size: 16px;
  
}

.transaction-table th,
.transaction-table td {
  border-bottom: 1px solid #333;
  padding: 12px;
 
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.transaction-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  
}

.transaction-table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.transaction-table tbody tr:hover {
  background-color: #e0e0e0;
}

.total-amount {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}